html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000 !important;
  overflow: hidden;
}

#library {
  display: none;
}

canvas {
  -webkit-transform: translateZ(0);
}

#lobbyContainer{
	position: absolute;
	right:0px;
	z-index:10000;
	background-color:#ffffff;
	width:200px;
	height:100%;
	overflow-y:auto;
	text-align: center;
	display: none
}

#enter{
	text-align: center;
	color:#ffffff;
	width:100%;
	height:100%;
}

input{
	color: #000 !important;
}

ul{
	list-style: none
}

ul li {
	padding:5px;
	margin:3px;
	display:none;
}

.hideFirework{
	display: none !important
}

#members{
	height:40%;
	overflow-y:auto;
}

#chatContainer{
	height:40%;
}
#chats{
	text-align: left;
	height:200px;
	overflow-y:auto;
	padding:5px;
}

#launchFirework{
	display: none;
	position: absolute;
	top:90%;
	left:40%;
	z-index:10000;
	margin-left:auto;
}

.myChat{
	color:blue;
}

.a_date{
	text-align: center;
	font-size: 8px
}

#license{
	display:none;
	position: absolute;
	left:31%;
	top:97%;
	z-index:10000;
}

.badBrowser{
	display:none;
	position: absolute;
	left:25%;
	top:35%;
}